#header{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#header button {
    font-weight: 600;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}

#header button:hover {
    transform: scale(1.05);
    background-color: lightyellow;
}

#breadcrumb{
    border: 1px solid black;
    margin: 10px;
    display: flex;
}

#breadcrumb a {
    background-color: tomato;
    padding: 10px;
    border-right: 5px solid black;
}

#breadcrumb a:hover {
    background-color: teal;
    text-decoration: underline;
}

#container{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.folder {
    background-color: teal;
    color:white;
    height: 120px;
    width: 150px;

    margin: 10px;
    padding: 10px;

    border:2px solid red;
    border-radius: 10px;
}

.folder div[purpose=name]{
    margin-top: 80px;
}

.folder [action]{
    text-decoration: underline;
    cursor: pointer;
}

.folder [action]:hover {
    color: blue;
    transform: scale(2);
}


.text-file {
    background-color: lightcoral;
    color:white;
    height: 120px;
    width: 150px;

    margin: 10px;
    padding: 10px;

    border:2px solid red;
    border-radius: 10px;
}

.text-file div[purpose=name]{
    margin-top: 80px;
}

.text-file [action]{
    text-decoration: underline;
    cursor: pointer;
}

.text-file [action]:hover {
    color: blue;
    transform: scale(2);
}

#app{
    border: 5px solid blue;
    margin: 10px;
}

#app-title-bar {
    display: flex;
    background-color: cyan;
    height: 40px;
}

#app-title {
    width: 94%;
    text-align: center;
    border-right: 5px solid red;
}

#app-menu-bar {
    display: flex;
    background-color: teal;
    height: 40px;
}

#app-body {
    display: flex;
    background-color:springgreen;
    height: 500px;
}

.notepad-menu{
    width: 100%;
    padding: 5px;
}

.notepad-menu * {
    margin: 0px 5px;
    padding: 2px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
}

.notepad-menu span {
    vertical-align: bottom;
    
}

.notepad-menu span:hover {
    border: 2px solid black;
    background-color: white;
    color: teal;
}


.notepad-menu [pressed=true] {
    border: 2px solid black;
    background-color: white;
    color: teal;
}

.notepad-menu input[type=color] {
    width: 30px;
}

.notepad-menu select {
    height: 30px;
}

.notepad-body {
    height: 100%;
    width: 100%;
}

.notepad-body textarea{
    height: 100%;
    width: 100%;
}

[ purpose=download]{
    display: none;
}

#win-actions span {
    cursor: pointer;
}

#win-actions span:hover {
    color: blue;
}