#header{
   border: 1px solid black;
   margin: 10px;
   padding: 10px;
   display: flex;
   justify-content: center;
}
#header button{
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}
#header button:hover{
    background-color: aqua;
    transform: scale(1.05);
}

#breadcrumb{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
#container{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
}
#app{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}


.folder {
    background-color: teal;
    color:white;
    height: 120px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid red;
    margin: 10px;
    padding: 10px;
}

.folder div[purpose=name]{
    margin-top: 80px;
}

.folder [action]{
    text-decoration: underline;
    cursor: pointer;
}
.folder [action]:hover{
    color: blue;
}