#btnAddFolder {
    border-radius: 5px;
    background-color: azure;
    width: 200px;
    margin-left: 600px;
    cursor: pointer;
    
}
#btnAddFolder:hover {
    cursor: pointer;
    transform: scale(1.1);
}
#divContainer {
    border: 1px solid black;
    display: flex;
    margin-top: 10px;
}

.folder {
    background-color:blueviolet;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.folder [action]{
    text-decoration: underline;
    cursor: pointer;
   
}

div[purpose=name]{
    margin-top: 50px;
    color: aliceblue;
}